# Python Files
*.py[co]

# Database Files
*.sqlite
*.sqlite[123]

# Sass/Less/CSS
*.sass-cache
*/**/.sass-cache

# Emacs Temporary files and folders
*~
\#*\#

# Custom files and settings
**/settings/custom.py
static/achievement/
static/admin/
static/bootstrap/
static/services/
