# Python Files
*.py[co]

# Database Files
*.sqlite
*.sqlite[123]

# Sass/Less/CSS
app/**/*.css
app/**/*.js
*.sass-cache
*/**/.sass-cache

# Emacs Temporary files and folders
*~
\#*\#

# Virtualenv
bin/
include/
lib/

# Custom files and settings
/static/
gitachievements/settings/custom.py
