{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Git Achievements{% endblock %}</title>
        <meta name="application-name" content="Git Achievements">
        <meta name="author" content="{% block author %}Ford Peprah (http://github.com/hkpeprah){% endblock %}">
        <meta name="keywords" content="{% block keywords %}git github achievements bitbucket{% endblock %}">
        <meta name="description" content="{% block description %}Earn achievements while using Github{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <!-- Begin styles -->
        <link href="http://fonts.googleapis.com/css?family=Bitter:400|Open+Sans:300italic,300" rel="stylesheet" type="text/css">
        {% include "achievement/base/head.html" %}
        {% block head %}{% endblock %}
    </head>
    <body>
        <div class="content">
            <div class="sticky-wrapper">
                {% include "achievement/base/navigation.html" %}
                {% block content %}{% endblock %}
            </div>
        </div>
        {% include "achievement/base/footer.html" %}
    </body>
</html>
