{% load staticfiles %}

<footer class="base">
    <!-- Git Achievements
         =============================================
         Project Maintainers:
             Ford Peprah (http://github.com/hkpeprah)
             Nick Terwoord (http://github.com/nt3rp)
             Brian Lai (http://github.com/1337)
    -->
    <div class="container">
        <div id="copyright" class="row-fluid">
            <div class="col-xs-6 col-md-6 col-lg-6">
                <p>Copyright &copy; 2014 Git Achievements</p>
            </div>
            <div class="col-xs-6 col-md-6 col-lg-6 right">
                <ul class="list-inline">
                    <li><a href="//github.com/git-achievements">Github</a></li>
                    <li><a href="//github.com/hkpeprah">Ford</a></li>
                    <li><a href="//github.com/nt3rp">Nick</a></li>
                    <li><a href="//github.com/1337">Brian</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
