{% load staticfiles %}

<footer>
    <div class="container">
        <div class="row-fluid">
            <div class="col-xs-6">
                <p>Copyright &copy; 2014 Git Achievements</p>
            </div>
            <div class="col-xs-6 pull-right">
                <ul class="list-inline">
                    <li><a href="//github.com/git-achievements">Github</a></li>
                    <li><a href="//github.com/hkpeprah">Ford</a></li>
                    <li><a href="//github.com/nt3rp">Nick</a></li>
                    <li><a href="//github.com/1337">Brian</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
