{% extends "achievement/base/base.html" %}
{% load staticfiles %}
{% block title %}{{ profile.username }} | Git Achievements{% endblock %}
{% block content %}
    <div class="container rounded-box">
        <div class="profile-container clearfix">
            <div class="col col-xs-12 col-sm-6">
                <div>
                    <img class="fixed-height-3 rounded-corners" src="{{ profile.attributes.avatar_url }}" />
                </div>
                <div class="vertical-divider desktop"></div>
                <div>
                    <h3>
                        <a href="{{ profile.attributes.url }}">{{ profile.username }}</a>
                    </h3>
                    <b>Overall Rank: </b> {{ profile.rank }}
                    <br/>
                    <b>Service: </b> {{ profile.attributes.service|title }}
                    <br/>
                    <b>Site: </b><a href="{{ profile.attributes.blog }}">{{ profile.attributes.blog }}</a>
                    <br/>
                    <b>Points: </b> {{ profile.points }}
                </div>
            </div>
            <div class="col col-xs-12 col-sm-6 centered">
                <div class="row" style="padding-left: 15px;">
                    <h4 class="inline-block"> Achievements Unlocked</h4>
                    <h6 class="inline-block">({{ profile.achievements|length }} Total)</h6>
                </div>
                {% if profile.achievements|length == 0 %}
                    <div class="row" style="padding-left:15px;">
                        <p><b>{{ profile.username }}</b> hasn't earned any achievements yet.</p>
                    </div>
                {% else %}
                    <br/>
                    <div class="col col-xs-12">
                        <ul class="unstyled">
                            {% for achievement in profile.achievements %}
                                <li class="achievement-list-item">
                                    <a class="unstyled" href="{% url 'view_achievement' achievement_id=achievement.id %}">
                                        <span class="points bg-primary">{{ achievement.points }}</span><span>{{ achievement.name }}</span>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
        <hr>
        <div class="text-center" style="padding-top:8px;padding-bottom:8px;">
            <h3>Achievements Created by {{ profile.username }}</h3>
            {% if profile.created_achievements.all|length == 0 %}
                <p>{{ profile.username }} hasn't created any achievements.</p>
            {% else %}
                <ul class="unstyled">
                    {% for achievement in profile.created_achievements.all %}
                        <li class="achievement-list-item text-left">
                            <a class="" href="{% if achievement.active %}{% url 'view_achievement' achievement_id=achievement.id %}
                                              {% else %}{% url 'approve_achievement' achievement_id=achievement.id %}{% endif %}">
                                {% if achievement.active %}
                                    <span class="bg-primary points">{{ achievement.earned_count }}</span>
                                    <span>(Active)</span>
                                {% else %}
                                    <span class="points {% if achievement.approval < 0 %}bg-danger
                                                 {% elif achievement.approval == 0 %}bg-info{% else %}bg-primary{% endif %}">
                                        {{ achievement.approval }}
                                    </span>
                                    <span>(In Voting Stage)</span>
                                {% endif %}
                                <span>{{ achievement.name }}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <hr>
        <div class="text-center">
            <h3>Badges Earned</h3>
        </div>
        <br>
        {% if profile.badges.all|length == 0 %}
            <div class="text-center">
                <p><b>{{ profile.username }}</b> hasn't earned any badges yet.</p>
            </div>
        {% else %}
            <div class="inline-table-list">
                {% for badge in profile.ordered_badges %}
                    {% include "achievement/achievements/badge.html" with badge=badge %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
