{% extends "achievement/base/base.html" %}
{% load staticfiles %}

{% block title %}{{ profile.username }} | Git Achievements{% endblock %}

{% block content %}
    <div class="container rounded-box profile">
        <div class="row">
            <div class="col-xs-6 section">
                <div class="row">
                    <div class="col col-xs-6">
                        <img src="{{ profile.attributes.gravatar }}" />
                    </div>
                    <div class="col col-xs-6">
                        <h3><a href="{{ profile.attributes.url }}">{{ profile.username }}</a></h3>
                        <h5>Ranked #{{ profile.rank }}</h5>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 section">
            </div>
        </div>
        <div class="row center">
            <div class="col col-xs-11">
                <div>
                    <h4 class="inline-block"> Achievements Unlocked</h4>
                    <h6 class="inline-block">({{ profile.achievements.all|length }} Total)</h6>
                </div>
            </div>
            <div class="col col-xs-12">
                <div class="achievement-list">
                    <ul>
                        {% for achievement in profile.achievements.all %}
                            <li>
                                <a href="{% url 'view_achievement' achievement_id=achievement.id %}">
                                    <i class="glyphicon glyphicon-ok"></i>
                                    {{ achievement.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="row badge-list">
            <h4>Badges Earned</h4>
            {% for badge in profile.ordered_badges %}
                {% include "achievement/achievements/badge.html" with badge=badge %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
