html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bitter', serif;
}

body {
    /* background-color: rgba(124, 151, 172, 0.10); */
    /* background-color: rgb(247, 247, 247); */
    background-color: rgb(250, 250, 250);
}

footer {
    color: #777;
    clear: both;
    z-index: 15;
    padding: 10px;
    min-height: 7em;
    margin-top: -7em;
    position: relative;
    background-color: #000;
    border-top: 1px solid #2F2F2F;

    .row-fluid {
        margin-top: 30px;
        padding-top: 5px;
        border-top: 2px solid #2F2F2F;

        .pull-right {
            text-align: right;
        }
        
        a, a:visited {
            color: #777;
            text-decoration: none;

            &:hover {
                color: #08c;
            }
        }
    }
}

h1, h2, h3 {
    margin-top: 10px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

@media screen and (min-width: 768px) {
    .navbar-static-top {
        font-size: 14px;

        .navbar-brand {
            padding-right: 15px;
            border-right: 1px solid #666;
        }

        .nav.navbar-nav {
            > li:not(.dropdown) a,
            a.dropdown-toggle {
                padding: 20px 15px;
            }

            .dropdown-menu {
                padding: 1px;
                border-radius: 0px;

                li a {
                    padding: 5px;
                    padding-left: 10px;
                }
            }
        }

        .divider {
            margin: 0px;
        }
    }

    .mobile-only {
        display: none !important;
    }

    .desktop-only {
        display: block !important;
    }
}

@media screen and (max-width: 768px) {
    .navbar-static-top {
        font-size: 14px;
    }

    .mobile-only {
        display: block !important;
    }

    .desktop-only {
        display: none !important;
    }
}

.navbar-static-top {
    min-height: 60px;
    /* font-family: "Comic Sans MS", cursive, sans-serif; */
    font-family: "Bitter", serif;

    .navbar-brand {
        min-height: 60px;
        padding-top: 0px;
        padding-left: 0px;
        padding-bottom: 0px;
    }

    .dropdown-header {
        padding-left: 10px;
        padding-bottom: 8px;
    }

    .white-logo {
        display: none;
    }

    &.navbar-inverse {
        .black-logo {
            display: none;
        }

        .white-logo {
            display: block;
        }
    }
}

.overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);

    &.no-events {
        pointer-events: none;
    }
}

.carousel {
    margin-top: -20px;
    border: 1px solid white;

    .carousel-inner {
        overflow: hidden;

        @media screen and (max-width: 768px) {
            height: 300px;
        }

        @media screen and (min-width: 768px) {
            height: 500px;
        }

        @media screen and (min-width: 1366px) {
            height: 600px;
        }

        .item {
            max-width: 100%;
            max-height: 100%;
            overflow: hidden;

            img {
                min-width: 100%;
                min-height: 100%;
                max-height: none;
            }
        }
    }
}

.container {
    &.center {
        margin: 0 auto;
        text-align: center;
    }
}

section {
    width: 100%;
    padding-bottom: 30px;

    &:last-child {
        padding-bottom: 60px;
    }
}

.hero {
    text-align: center;

    h1, h2, h3 {
        color: rgb(51, 51, 51);
    }

    h1 {
        margin: 50px 0;
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 45px;
    }

    p {
        color: #666;
        font-size: 16px;
    }

    .col {
        text-align: left;
        margin-bottom: 25px;

        &.center {
            text-align: center;
        
            img {
                height: auto;
                max-width: 100%;
                vertical-align: middle;
                box-sizing: border-box;
            }
        }
    }
}

.hero-alternate {
    padding-top: 10px;
    min-height: 100px;
    margin-bottom: 40px;

    &.border {
        border-top: 1px solid #DDDDDD;
    }

    &.center {
        text-align: center;
    }

    h1 {
        margin: 0;
        font-size: 36px;
        margin-top: 30px;
        font-weight: 700;
        margin-bottom: 20px;
        padding-bottom: 10px;
        color: rgb(51, 51, 51);
    }

    .list {
        text-align: left;
        list-style-type: none;
    }
}

.contributor, .user {
    padding: 10px;
    min-height: 100px;
    text-align: left;
    box-sizing: border-box;

    img {
        border-radius: 15px;
        border: 1px solid #666;
    }

    .fixed-50 {
        width: 50px;
        height: 50px;
    }

    .fixed-80 {
        width: 80px;
        height: 80px;
    }

    .details {
        float: left;

        .email {
            @media screen and (max-width: 768px) {
                font-size: 10px;
            }
        
            @media screen and (min-width: 768px) {
                font-size: 12px;
            }
        }

        a:not(.name) {
            color: #2B3856;

            &:hover {
                text-decoration: none;
                color: rgba(51, 153, 255, 1);
            }
        }

        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    .name {
        font-size: 22px;
        text-decoration: none;
        color: rgb(51, 51, 51);

        &:hover {
            color: #08c;
        }

        &:visited {
            text-decoration: none;
        }
    }
}

.achievement-badge-list {
    .achievement-badge, .achievement-badge-v2 {
        margin: 5px;
        display: inline-table;
    }
}

.achievement-badge {
    padding: 5px;
    color: white;
    display: table;
    font-size: 15px;
    cursor: pointer;
    min-width: 100px;
    max-width: 250px;
    min-height: 40px;
    max-height: 40px;
    text-align: left;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.95);
    /* background-color: rgb(51, 51, 51); */

    &:hover {
        opacity: 0.9;
    }

    .name {
        margin: 3px;
        padding: 2px;
        display: table-cell;
        vertical-align: middle;
    }

    .icon {
        &.easy {
            color: #3D9140;
        }

        &.medium {
            color: #1874CD;
        }

        &.hard {
            color: #FF2400;
        }

        &.very-hard {
            color: #F87217;
        }

        &.impossible {
            color: #FDD017;
        }

        &.legendary {
            color:transparent;
            background-clip: text;
            -webkit-background-clip: text;
            background-image: gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.5, #2f2),color-stop(0.55, #2f2), color-stop(0.6, #ff2), color-stop(0.75, #f22));
            background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.5, #2f2),color-stop(0.55, #2f2), color-stop(0.6, #ff2), color-stop(0.75, #f22));
        }
    }
}

.sub-nav {
    .dropdown .btn.dropdown-toggle {
        margin-left: 18px;
    }

    .dropdown-menu {
        margin-left: 22px;
    }

    .navbar-form {
        margin-top: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .list-inline {
        display: inline-block;
    }
}

.user-board .table {
    th, td {
        &:not(:first-child) {
            text-align: center;
        }
    }
}

.user-profile-list {
    .user {
        margin: 5px;
        padding: 0px;
        max-width: 100px;
        position: relative;
        display: inline-block;

        .overlay {
            color: white;
            display: none;
            text-align: center;
            border-radius: 15px;
        
            span {
                line-height: 100px;
            }
        }

        &:hover {
            cursor: pointer;

            .overlay {
                display: block;
            }
        }
    }
}

.achievement-board {
    .table {
        thead {
            th {
                &:nth-child(1), &:nth-child(3),
                &:nth-child(4) {
                    text-align: center;
                }
            }
        }

        tr {
            td {
                &:nth-child(1), &:nth-child(3),
                &:nth-child(4) {
                    text-align: center;
                }
            }
        }
    }
}

.table {
    .auto {
        width: auto;
    }

    a {
        &:visited {
            text-decoration: none;
        }
    }
}

.table-responsive {
    &.white {
        background-color: #FFF;
    }

    &.padded {
        box-shadow: none;
        border-width: 1px;
        border-color: #DDD;
        border-style: solid;
        border-radius: 4px 4px 0 0;
        padding: 30px 15px 15px 15px;

        td {
            vertical-align: middle;
        }

        @media screen and (min-width: 768px) {             
            thead {
                tr {
                    th {
                        font-size: 18px;
                    }
                }
            }
        }

        @media screen and (max-width: 768px) {
            thead {
                tr {
                    th {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .table {
        border-bottom: 2px solid rgb(221, 221, 221);
    }
}

.rounded-box {
    margin: 0 auto;
    box-shadow: none;
    position: relative;
    background-color: #FFF;
    border: 1px solid #DDD;
    padding: 30px 15px 30px 15px;
    border-radius: 4px 4px 0px 0px;

    h1, h2 {
        margin-top: 5px;
    }
}

.achievement-table-item {
    border: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
    background-color: transparent;

    &.panel {
        margin-left: 5px;
        padding-top: 10px;
        margin-bottom: 0px;
        padding-bottom: 10px;
    }

    a {
        color: #666;
        font-size: 16px;
        cursor: pointer;
        text-decoration: none;

        &:visited {
            text-decoration: none;
        }

        &:not(.collapsed) {
            .panel-heading {
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                border-top: 1px solid #E5E5E5;
                border-right: 1px solid #E5E5E5;
            }
        }
    }

    .panel-heading {
        border-left: 4px solid #98B3FA;

        .panel-title {
            font-size: 15px;
            font-weight: 500;
        }
    }

    .panel-body {
        border: 1px solid #E5E5E5;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;

        a {
            color: #428bca;
            font-size: 13px;

            &:hover {
                opacity: 0.9;
                text-decoration: underline;
            }
        }

        .achievement-badge {
            border: 0px;

            .name {
                padding: 10px;
            }
        }
    }
}

.content {
    &.fill {
        height: auto;
        min-height: 100%;
    }

    &.sticky {
        padding-bottom: 7em;
        > .container {
            margin-bottom: 7em;
        }
    }
}

.achievement {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);

    .title {
        display: inline-block;

        h2 {
            margin: 1px;
        }
    }

    .details {
        float: right;
        display: inline-block;
    }

    .conditions {
        padding-top: 10px;
        padding-bottom: 10px;

        li {
            margin-bottom: 5px;

            .glyphicon {
                margin-right: 8px;
            }
        }
    }

    ul {
        list-style-type: none;
    }
}

.profile {
    padding-top: 15px;

    .col {
        h3 a {
            text-decoration: none;

            &:hover {
                opacity: 0.7;
                text-decoration: none;
            }
        }
    }

    .section {
        max-height: 400px;
        overflow-y: scroll;
        margin-bottom: 10px;
        padding-bottom: 10px;

        h3 {
            margin-top: 5px;
        }
    }

    .achievement-list {
        ul {
            padding: 3px;
            list-style-type: none;

            li {
                @media screen and (min-width: 768px) {
                    width: 49%;
                    display: inline-block;
                }

                i {
                    margin-right: 15px;
                }

                a {
                    width: 100%;
                    padding: 10px;
                    color: #2F2F2F;
                    display: block;
                    border-radius: 5px;
                    text-decoration: none;
                    border: 1px solid #DDD;

                    &:hover {
                        color: #428BCA;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .badge-list {
        margin: 0 auto;
        text-align: center;

        &:after {
            clear: both;
        }

        h4 {
            padding: 10px;
        }

        .achievement-badge {
            margin: 5px;
            float: left;
        }
    }

    > .row:not(:first-child) {
        margin-top: 15px;
        margin-left: 5px;
        margin-right: 5px;
        border-top: 1px solid #DDD;
    }
}

.inline-block {
    display: inline-block;
}

.btn-auth {
    &.btn.btn-default {
        margin: 5px;
        padding: 0px;
        min-width: 260px;
        min-height: 65px;
        display: inline-table;
    }

    a {
        width: 100%;
        height: 100%;
        cursor: pointer;
        font-size: 16px;
        display: table-cell;
        text-decoration: none;
        vertical-align: middle;
        padding: 5px 15px 5px 10px;

        &:hover {
            text-decoration: none;
        }

        img {
            width: 50px;
        }
    }
}

.filter {
    padding-top: 10px;
    margin-right: -15px;
    padding-bottom: 10px;
}
