html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

body {
  /* background-color: rgba(124, 151, 172, 0.10); */
  /* background-color: rgb(247, 247, 247); */
  background-color: #fafafa; }

img {
  max-width: 100%;
  max-height: 100%; }

footer {
  color: #777;
  clear: both;
  z-index: 15;
  padding: 10px;
  min-height: 7em;
  margin-top: -7em;
  position: relative;
  background-color: #000;
  border-top: 1px solid #2F2F2F; }
  footer .row-fluid {
    margin-top: 30px;
    padding-top: 5px;
    border-top: 2px solid #2F2F2F; }
    footer .row-fluid .pull-right {
      text-align: right; }
    footer .row-fluid a, footer .row-fluid a:visited {
      color: #777;
      text-decoration: none; }
      footer .row-fluid a:hover, footer .row-fluid a:visited:hover {
        color: #08c; }

@media screen and (min-width: 768px) {
  .navbar-static-top {
    font-size: 14px; }
    .navbar-static-top .navbar-brand {
      padding-right: 15px;
      border-right: 1px solid #666; }
    .navbar-static-top .nav.navbar-nav > li:not(.dropdown) a,
    .navbar-static-top .nav.navbar-nav a.dropdown-toggle {
      padding: 20px 15px; }
    .navbar-static-top .nav.navbar-nav .dropdown-menu {
      padding: 1px;
      border-radius: 0px; }
      .navbar-static-top .nav.navbar-nav .dropdown-menu li a {
        padding: 5px;
        padding-left: 10px; }
    .navbar-static-top .divider {
      margin: 0px; }

  .mobile-only {
    display: none !important; }

  .desktop-only {
    display: block !important; } }
@media screen and (max-width: 768px) {
  .navbar-static-top {
    font-size: 14px; }

  .mobile-only {
    display: block !important; }

  .desktop-only {
    display: none !important; } }
.navbar-static-top {
  min-height: 60px;
  font-family: "Comic Sans MS", cursive, sans-serif; }
  .navbar-static-top .navbar-brand {
    min-height: 60px;
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px; }
  .navbar-static-top .dropdown-header {
    padding-left: 10px;
    padding-bottom: 8px; }
  .navbar-static-top .white-logo {
    display: none; }
  .navbar-static-top.navbar-inverse .black-logo {
    display: none; }
  .navbar-static-top.navbar-inverse .white-logo {
    display: block; }

.overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5); }
  .overlay.no-events {
    pointer-events: none; }

.carousel {
  margin-top: -20px;
  border: 1px solid white; }
  .carousel .carousel-inner {
    overflow: hidden; }
    @media screen and (max-width: 768px) {
      .carousel .carousel-inner {
        height: 300px; } }
    @media screen and (min-width: 768px) {
      .carousel .carousel-inner {
        height: 500px; } }
    @media screen and (min-width: 1366px) {
      .carousel .carousel-inner {
        height: 600px; } }
    .carousel .carousel-inner .item {
      max-width: 100%;
      max-height: 100%;
      overflow: hidden; }
      .carousel .carousel-inner .item img {
        min-width: 100%;
        min-height: 100%;
        max-height: none; }

.container.center {
  margin: 0 auto;
  text-align: center; }

section {
  width: 100%; }
  section:last-child {
    padding-bottom: 60px; }

.hero {
  text-align: center; }
  .hero h1, .hero h2, .hero h3 {
    color: #333333;
    font-family: "Lucida Console", "Trebuchet MS", sans-serif; }
  .hero h1 {
    margin: 50px 0;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 45px; }
  .hero p {
    color: #666;
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif; }
  .hero .col {
    text-align: left;
    margin-bottom: 25px; }
    .hero .col.center {
      text-align: center; }
      .hero .col.center img {
        height: auto;
        max-width: 100%;
        vertical-align: middle;
        box-sizing: border-box; }

.hero-alternate {
  padding-top: 5px;
  min-height: 100px;
  margin-bottom: 40px; }
  .hero-alternate.border {
    border-top: 1px solid #DDDDDD; }
  .hero-alternate.center {
    text-align: center; }
  .hero-alternate h1 {
    margin: 0;
    font-size: 36px;
    margin-top: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 10px;
    color: #333333;
    font-family: "Lucida Console", "Trebuchet MS", sans-serif; }
  .hero-alternate .list {
    text-align: left;
    list-style-type: none; }

.contributor, .user {
  padding: 10px;
  min-height: 100px;
  text-align: left;
  box-sizing: border-box; }
  .contributor img, .user img {
    border-radius: 15px;
    border: 1px solid #666; }
  .contributor .fixed-50, .user .fixed-50 {
    width: 50px;
    height: 50px; }
  .contributor .fixed-80, .user .fixed-80 {
    width: 80px;
    height: 80px; }
  .contributor .details, .user .details {
    float: left; }
    @media screen and (max-width: 768px) {
      .contributor .details .email, .user .details .email {
        font-size: 10px; } }
    @media screen and (min-width: 768px) {
      .contributor .details .email, .user .details .email {
        font-size: 12px; } }
    .contributor .details a:not(.name), .user .details a:not(.name) {
      color: #2B3856; }
      .contributor .details a:not(.name):hover, .user .details a:not(.name):hover {
        text-decoration: none;
        color: #3399ff; }
    .contributor .details:not(:last-child), .user .details:not(:last-child) {
      margin-right: 10px; }
  .contributor .name, .user .name {
    font-size: 22px;
    text-decoration: none;
    color: #333333;
    font-family: "Lucida Console", "Trebuchet MS", sans-serif; }
    .contributor .name:hover, .user .name:hover {
      color: #08c; }
    .contributor .name:visited, .user .name:visited {
      text-decoration: none; }

.achievement-badge-list .achievement-badge, .achievement-badge-list .achievement-badge-v2 {
  margin: 5px;
  display: inline-table; }

.achievement-badge {
  padding: 5px;
  color: white;
  display: table;
  font-size: 15px;
  cursor: pointer;
  min-width: 100px;
  max-width: 250px;
  min-height: 40px;
  max-height: 40px;
  text-align: left;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.95);
  /* background-color: rgb(51, 51, 51); */
  font-family: "Lucida Console", "Trebuchet MS", sans-serif; }
  .achievement-badge:hover {
    opacity: 0.9; }
  .achievement-badge .name {
    margin: 3px;
    padding: 2px;
    display: table-cell;
    vertical-align: middle; }
  .achievement-badge .icon.easy {
    color: #3D9140; }
  .achievement-badge .icon.medium {
    color: #1874CD; }
  .achievement-badge .icon.hard {
    color: #FF2400; }
  .achievement-badge .icon.very-hard {
    color: #F87217; }
  .achievement-badge .icon.impossible {
    color: #FDD017; }
  .achievement-badge .icon.legendary {
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: gradient(linear, left top, right top, color-stop(0, #ff2222), color-stop(0.15, #ff22ff), color-stop(0.3, #2222ff), color-stop(0.45, #22ffff), color-stop(0.5, #22ff22), color-stop(0.55, #22ff22), color-stop(0.6, #ffff22), color-stop(0.75, #ff2222));
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #ff2222), color-stop(0.15, #ff22ff), color-stop(0.3, #2222ff), color-stop(0.45, #22ffff), color-stop(0.5, #22ff22), color-stop(0.55, #22ff22), color-stop(0.6, #ffff22), color-stop(0.75, #ff2222)); }

.sub-nav .dropdown .btn.dropdown-toggle {
  margin-left: 18px; }
.sub-nav .dropdown-menu {
  margin-left: 22px; }
.sub-nav .navbar-form {
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px; }
.sub-nav .list-inline {
  display: inline-block; }

.user-board .table th:not(:first-child), .user-board .table td:not(:first-child) {
  text-align: center; }

.user-profile-list .user {
  margin: 5px;
  padding: 0px;
  max-width: 100px;
  position: relative;
  display: inline-block; }
  .user-profile-list .user .overlay {
    color: white;
    display: none;
    text-align: center;
    border-radius: 15px; }
    .user-profile-list .user .overlay span {
      line-height: 100px; }
  .user-profile-list .user:hover {
    cursor: pointer; }
    .user-profile-list .user:hover .overlay {
      display: block; }

.achievement-board .table thead th:nth-child(1), .achievement-board .table thead th:nth-child(3), .achievement-board .table thead th:nth-child(4) {
  text-align: center; }
.achievement-board .table tr td:nth-child(1), .achievement-board .table tr td:nth-child(3), .achievement-board .table tr td:nth-child(4) {
  text-align: center; }

.table .auto {
  width: auto; }
.table a:visited {
  text-decoration: none; }

.table-responsive.white {
  background-color: #FFF; }
.table-responsive.padded {
  box-shadow: none;
  border-width: 1px;
  border-color: #DDD;
  border-style: solid;
  border-radius: 4px 4px 0 0;
  padding: 30px 15px 15px 15px; }
  .table-responsive.padded td {
    vertical-align: middle; }
  @media screen and (min-width: 768px) {
    .table-responsive.padded thead tr th {
      font-size: 18px; } }
  @media screen and (max-width: 768px) {
    .table-responsive.padded thead tr th {
      font-size: 14px; } }
.table-responsive .table {
  border-bottom: 2px solid #dddddd; }

.rounded-box {
  margin: 0 auto;
  box-shadow: none;
  position: relative;
  background-color: #FFF;
  border: 1px solid #DDD;
  padding: 30px 15px 30px 15px;
  border-radius: 4px 4px 0px 0px; }
  .rounded-box h1, .rounded-box h2 {
    margin-top: 5px; }

.achievement-table-item {
  border: 0px;
  box-shadow: none;
  -webkit-box-shadow: none;
  background-color: transparent; }
  .achievement-table-item.panel {
    margin-left: 5px;
    padding-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 10px; }
  .achievement-table-item a {
    color: #666;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none; }
    .achievement-table-item a:visited {
      text-decoration: none; }
    .achievement-table-item a:not(.collapsed) .panel-heading {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      border-top: 1px solid #E5E5E5;
      border-right: 1px solid #E5E5E5; }
  .achievement-table-item .panel-heading {
    border-left: 4px solid #98B3FA; }
    .achievement-table-item .panel-heading .panel-title {
      font-size: 15px;
      font-weight: 500; }
  .achievement-table-item .panel-body {
    border: 1px solid #E5E5E5;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; }
    .achievement-table-item .panel-body a {
      color: #428bca;
      font-size: 13px; }
      .achievement-table-item .panel-body a:hover {
        opacity: 0.9;
        text-decoration: underline; }
    .achievement-table-item .panel-body .achievement-badge {
      border: 0px; }
      .achievement-table-item .panel-body .achievement-badge .name {
        padding: 10px; }

.content.fill {
  height: auto;
  min-height: 100%; }
.content.sticky {
  padding-bottom: 7em; }
  .content.sticky > .container:last-child {
    margin-bottom: 7em; }

.achievement {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
  .achievement .title {
    display: inline-block; }
    .achievement .title h2 {
      margin: 1px; }
  .achievement .details {
    float: right;
    display: inline-block; }
  .achievement .conditions {
    padding-top: 10px;
    padding-bottom: 10px; }
    .achievement .conditions li {
      margin-bottom: 5px; }
      .achievement .conditions li .glyphicon {
        margin-right: 8px; }
  .achievement ul {
    list-style-type: none; }

.profile {
  padding-top: 15px; }
  .profile .col h3 a {
    text-decoration: none; }
    .profile .col h3 a:hover {
      opacity: 0.7;
      text-decoration: none; }
  .profile .section {
    max-height: 400px;
    overflow-y: scroll;
    margin-bottom: 10px;
    padding-bottom: 10px; }
    .profile .section h3 {
      margin-top: 5px; }
  .profile .achievement-list ul {
    padding: 3px;
    list-style-type: none; }
    @media screen and (min-width: 768px) {
      .profile .achievement-list ul li {
        width: 49%;
        display: inline-block; } }
    .profile .achievement-list ul li i {
      margin-right: 15px; }
    .profile .achievement-list ul li a {
      width: 100%;
      padding: 10px;
      color: #2F2F2F;
      display: block;
      border-radius: 5px;
      text-decoration: none;
      border: 1px solid #DDD; }
      .profile .achievement-list ul li a:hover {
        color: #428BCA;
        text-decoration: none; }
  .profile .badge-list {
    margin: 0 auto;
    text-align: center; }
    .profile .badge-list:after {
      clear: both; }
    .profile .badge-list h4 {
      padding: 10px; }
    .profile .badge-list .achievement-badge {
      margin: 5px;
      float: left; }
  .profile > .row:not(:first-child) {
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    border-top: 1px solid #DDD; }

.inline-block {
  display: inline-block; }

.btn-auth.btn.btn-default {
  margin: 5px;
  padding: 0px;
  min-width: 260px;
  min-height: 65px;
  display: inline-table; }
.btn-auth a {
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-size: 16px;
  display: table-cell;
  text-decoration: none;
  vertical-align: middle;
  padding: 5px 15px 5px 10px; }
  .btn-auth a:hover {
    text-decoration: none; }
  .btn-auth a img {
    width: 50px; }

.filter {
  padding-top: 10px;
  margin-right: -15px;
  padding-bottom: 10px; }
