{% extends "achievement/base/base.html" %}
{% load staticfiles %}
{% block content %}
    <br/>
    <section id="getting-started">
        <div class="container text-left">
            <h1>Coding is Fun! Join Git Achievements.</h1>
            <p>Git Achievements monitors your repositories, and rewards you for
                interesting things that you do.
            </p>
            <p>
                Add us to your list of <a href="//developer.github.com/webhooks/creating/#setting-up-a-webhook">Github Webhooks</a>
                and start winning achievements!
                <br/>
                <br/>
            </p>
            <h2>Getting Started</h2>
            <h3>Step 1: Go to your repository settings</h3>
            <p><img class="centered" src="{% static 'img/tut/9079.png' %}" alt="Tut"/></p>
            <h3>Step 2: Enter the webhooks section</h3>
            <p><img class="centered" src="{% static 'img/tut/9080.png' %}" alt="Tut"/></p>
            <h3>Step 3: Click "Add Webhook"</h3>
            <p><img class="centered" src="{% static 'img/tut/9081.png' %}" alt="Tut"/></p>
            <h3>Step 4: Add <kbd>http://www.git-achievements.com/services/hooks/web</kbd> like this.</h3>
            <p><img class="centered" src="{% static 'img/tut/9082.png' %}" alt="Tut"/></p>
            <h3>Step 5: Authorize your personal account</h3>
            <p><a href="{% url 'login' %}">Authorize</a> to start tracking.</p>
            <h3>Step 6: <kbd>enjoyment++;</kbd></h3>
            <p>Code to win!
                <br/>
                To get more help, read the <a href="{% url 'faq' %}">Getting Started</a> section of the site to figure out
                how to configure Git Achievements for your organization or start achieving in your projects/git experience.
                If you have any issues or more detailed questions, visit the Github
                <a href="//github.com/git-achievements/git-achievements">project page</a>.
            </p>
        </div>
    </section>
    <div class="container">
        <hr/>
        <br/>
    </div>
    <section id="top-achievers">
        <div class="container">
            <h1>Git Achievements' Top Achievers</h1>
            {% for achiever in achievers %}
                <div class="col-xs-12 col-sm-6 col-lg-4 clearfix achiever">
                    {% with forloop.counter as rank %}
                        {% include "achievement/users/profile-small.html" with user=achiever rank=rank %}
                    {% endwith %}
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
