{% extends "achievement/base/base.html" %}
{% load url from future %}
{% load staticfiles %}

{% block title %}Login | Git Achievements{% endblock %}

{% block content %}
    <div class="container centered">
        <div class="rounded-box">
            <div class="text-center">
                <h2>OAuth Login</h2>
            </div>
            <hr>
            <div class="text-center">
                <div>
                    <div class="inline-block text-left minimum-width-10">
                        <p>What information we collect from you:</p>
                        <ul>
                            <li>Your Github username.</li>
                            <li>Your Github email.</li>
                            <li>Your Github avatar.</li>
                            <li>Names of repositories you own or are a member of.</li>
                        </ul>
                    </div>
                </div>
                <div class="block">
                    <div class="btn btn-default btn-auth">
                        <a href="{% url 'social:begin' 'github' %}">
                            <img class="inline-block" src="{% static 'img/authbuttons/github/256.png' %}" />
                            <span>Authenticate with Github</span>
                        </a>
                    </div>
                    <div class="btn btn-default btn-auth">
                        <a>
                            <span>This button does nothing</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
