{% extends "achievement/base/base.html" %}
{% load staticfiles %}
{% block title %}Create New Achievement | Git Achievements{% endblock %}
{% block content %}
    <div>
        <script type="text/template" id="error-message">
            <li class="bg-danger">
                <span class="pull-left"><%= msg %></span>
                <button type="button" class="close pull-right" aria-hidden="true">&times;</button>
            </li>
        </script>
        <script type="text/template" id="badge-form">
            <h3>Badge</h3>
            <label for="badge-name-<%= id %>">Name</label>
            <input type="text" name="badge-name-<%= id %>" />
            <br/>
            <label for="badge-description-<%= id %>">Description</label>
            <textarea placeholder="Add a description for this badge" name="badge-description-<%= id %>"></textarea>
            <button type="button" class="close js-remove" aria-hidden="true">&times;</button>
        </script>
        <script type="text/template" id="custom-condition-form">
            <h4>Condition #<%= id %></h4>
            <label>Select the custom condition</label>
            <button type="button" class="close js-remove" aria-hidden="true">&times;</button>
        </script>
        <script type="text/template" id="value-condition-form">
            <h4>Condition #<%= id %></h4>
            <div class="col-xs-12 condition-description">
                <label>Describe this condition</label>
            </div>
            <div class="col-xs-4 condition-attribute">
                <label>Attribute</label>
            </div>
            <div class="col-xs-4 condition-method">
                <label>Method</label>
            </div>
            <div class="col-xs-4 condition-value">
                <label>Value</label>
            </div>
            <div class="col-xs-12 condition-qualifier">
                <label>Qualifier</label>
                <span class="text-info">You can specify a function to apply to the attribute value before checking the condition.</span>
            </div>
            <div class="col-xs-12 condition-quantifier">
                <label>Quantifier</label>
                <span class="text-info">If attribute is part of an array, you can specify if all values must pass the test or not.</span>
            </div>
            <button type="button" class="close js-remove" aria-hidden="true">&times;</button>
        </script>
        <script type="text/template" id="attribute-condition-form">
            <h4>Condition #<%= id %></h4>
            <span class="text-info">An attribute condition checks the method against the specified attributes in the event payload.  You can use a qualifier to specify a function that should be applied to each individual attribute before checking the condition.</span>
            <div class="col-xs-12 condition-description">
                <label>Describe this condition</label>
            </div>
            <div class="col-xs-12">
                <br/>
                <button type="button" class="btn btn-default js-add-attribute">Add Attribute</button>
            </div>
            <div class="col-xs-8 condition-attribute condition-attributes">
                <label>Attributes</label>
            </div>
            <div class="col-xs-4">
                <div class="col-xs-12 condition-method">
                    <label>Method</label>
                </div>
            </div>
            <button type="button" class="close js-remove" aria-hidden="true">&times;</button>
        </script>
        <script type="text/template" id="achievement-form">
            {% csrf_token %}
            <fieldset>
                <h3>Achievement</h3>
                <label for="name">Name</label>
                <input type="text" name="name" id="name" />
                <br/>
                <label for="description">Description</label>
                <textarea name="description" id="description" placeholder="Description for this achievement"></textarea>
                <br/>
                <label for="type">Specify the type of achievement</label>
                <span class="text-info">Unsure what type your achievement is?  Usually it's non-custom.</span>
                <p>
                    <select name="type" id="type"></select>
                </p>
                <label for="difficulty">Set the difficulty</label>
                <p>
                    <select name="difficulty" id="difficulty"></select>
                </p>
                <label for="event">Set the event</label>
                <p>
                    <select name="event" id="event"></select>
                </p>
                <label for="achievement-grouping">Specify conditions' logical operator</label>
                <p>
                    <select name="grouping" id="grouping" style="width: 300px;">
                        <optgroup label="Generic">
                            <option value="__and__">and</option>
                            <option value="__or__">or</option>
                        </optgroup>
                        <optgroup label="Other">
                            <option value="__xor__">xor</option>
                        </optgroup>
                    </select>
                </p>
            </fieldset>
            <fieldset class="text-center">
                <h3>Add to this Achievement</h3>
                <br/>
                <button class="btn btn-primary js-add-badge" type="button">Badge</button>
                <button class="btn btn-primary js-add-condition" type="button" data-condition="custom">Custom Condition</button>
                <button class="btn btn-primary js-add-condition" type="button" data-condition="value">Value Condition</button>
                <button class="btn btn-primary js-add-condition" type="button" data-condition="attribute">Attribute Condition</button>
            </fieldset>
            <div id="badge" class="badge-placeholder"></div>
            <div id="conditions" class="condition-placeholder"></div>
            <fieldset class="text-center rounded-box">
                <p>Review the information before you create the Achievement.  Achievements created will not show up until they are
                   approved, so hold tight.</p>
                <p>Make sure you have at least one condition for the achievement.</p>
                <br/>
                <input type="submit" class="btn btn-primary" id="submit" value="Create Achievement">
            </fieldset>
        </script>
    </div>
    <div class="container">
        <ul class="messages"></ul>
        <h2 class="title">Create a new achievement</h2>
        <div class="achievement-form"></div>
    </div>
    <script type="text/javascript">
      $(function () {
        App.addForm('achievement', '.achievement-form')
      });
    </script>
{% endblock %}
