{% extends "achievement/base/base.html" %}
{% load staticfiles %}

{% block title %}{{ achievement.name }} | Git Achievements{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="achievement">
            <div class="title">
                <h2>{{ achievement.name }}</h2>
                <span><b>Difficulty:</b> {{ achievement.difficulty|title }}</span>
            </div>
            <div class="details">
                {% if achievement.badge %}
                    {% include "achievement/achievements/badge.html" with badge=achievement.badge %}
                {% endif %}
            </div>
            <div class="description">
                <p>{{ achievement.badge.description|safe|default:achievement.description|safe }}</p>
            </div>
            <div class="conditions">
                {% if satisfied_conditions|length > 0 or unsatisfied_conditions|length > 0 %}
                    <h4>Conditions</h4>
                {% endif %}
                <ul>
                    {% for condition in satisfied_conditions %}
                        <li><i class="glyphicon glyphicon-ok-sign" style="color:green;"></i>{{ condition }}</li>
                    {% endfor %}
                    {% for condition in unsatisfied_conditions %}
                        <li><i class="glyphicon glyphicon-chevron-right {# glpyhicon-remove-sign #}" style="{# color:red; #}"></i>{{ condition }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div style="text-align:center;">
            {% if achievement.earned_count == 0 %}
                <h3>No user has earned this achievement.</h3>
            {% elif achievement.earned_count == 1 %}
                <h3>1 user has earned this achievement.</h3>
            {% else %}
                <h3>{{ achievement.earned_count }} users have earned this achievement.</h3>
            {% endif %}
        </div>
        <div class="user-profile-list">
            {% for user in achievement.users.all %}
                <div class="user">
                    <a href="{% url 'view_profile' username=user.username %}">
                        <img src="{{ user.attributes.gravatar }}" />
                        <div class="overlay">
                            <span>{{ user.username }}</span>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
