{% extends "achievement/base/base.html" %}
{% load staticfiles %}
{% block title %}{{ achievement.name }} | Git Achievements{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="pull-left title">
                <h2>{{ achievement.name }}</h2>
                <span><b>Difficulty:</b> {{ achievement.difficulty|title }}</span>
                <p>{{ achievement.badge.description|safe|default:achievement.description|safe }}</p>
            </div>
            <div class="pull-right clearfix">
                {% if achievement.badge %}
                    {% include "achievement/achievements/badge.html" with badge=achievement.badge %}
                {% endif %}
            </div>
        </div>
        <br/>
        <div class="row">
            {% if satisfied_conditions|length > 0 or unsatisfied_conditions|length > 0 %}
                <h4>Conditions</h4>
                <ul class="unstyled">
                    {# TODO: Eventually we'll have the ability to have satisfied and unsatisfied conditions...probably.. #}
                    {% for condition in unsatisfied_conditions %}
                        <li>
                            <i class="glyphicon glyphicon-chevron-right"></i>
                            {{ condition }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <hr>
        <div class="row text-center">
            {% if achievement.earned_count == 0 %}
                <h3>No user has earned this achievement.</h3>
            {% elif achievement.earned_count == 1 %}
                <h3>1 user has earned this achievement.</h3>
            {% else %}
                <h3>{{ achievement.earned_count }} users have earned this achievement.</h3>
            {% endif %}
        </div>
        <div class="row">
            {% for user in achievement.users %}
                <div class="user">
                    <a class="img-overlay" href="{% url 'view_profile' username=user.username %}">
                        <img src="{{ user.attributes.avatar_url }}" />
                        <div class="overlay">
                            <span>{{ user.username }}</span>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
